
        .overlay-left {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
        }

        .overlay-left-content {
            position: relative;
            top: 10%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay-left a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #fff; /* #818181; */
            display: block;
            transition: 0.3s;
        }

        .overlay-left a:hover,
        .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay-left .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }




        .overlay-right {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
        }

        .overlay-right-content {
            position: relative;
            top: 10%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay-right a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #fff; /* #818181; */
            display: block;
            transition: 0.3s;
        }

        .overlay-right a:hover,
        .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay-right .closebtn {
            position: absolute;
            top: 5px;
            right: 45px;
            font-size: 60px;
        }

        @media screen and (max-height: 450px) {
            .overlay-left a, .overlay-right a {
                font-size: 20px
            }

            .overlay-left .closebtn, .overlay-right .closebtn {
                font-size: 40px;
                top: 5px;
                right: 35px;
            }
        }